<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="4aba44f8-0000-0000-0000-000000000000" Alias="editor">
  <Info>
    <Sections>content,forms,media</Sections>
    <Icon>icon-tools</Icon>
    <Name>Editors</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
  </Info>
</UserGroup>