<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c565ef8e-fc0a-4bc6-b635-06383110dcfa" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9a0c6e70-53ca-42e8-8787-9151634717dc">footer</Composition>
      <Composition Key="b50b568f-72d2-47d9-be31-e014002364c9">header</Composition>
      <Composition Key="9b13468b-afb8-4496-a5c0-746a2369b02c">page</Composition>
      <Composition Key="4f829a8d-8647-415b-b767-d9c8ffb5026f">siteSettings</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="326d8b31-c195-48ef-af2a-43e4a462d615">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4abe4871-a67a-4bfc-bb95-f568bb520d9c">error404</ContentType>
    <ContentType Key="6ba90d3b-f52b-4d2e-8508-35d323b4ed36">standardContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>