<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac8186ba-c9b3-4c2f-abcf-5cc404297db1" Alias="searchResults" Level="2">
  <Info>
    <Name>Search Results</Name>
    <Icon>icon-search color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9b13468b-afb8-4496-a5c0-746a2369b02c">page</Composition>
    </Compositions>
    <DefaultTemplate>SearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f6bdd133-8ed5-4670-aeb6-a89181c91453">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54e609c5-ebfb-466e-ac04-9ba3a7573cc8</Key>
      <Name>Items Per Page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>3009a5d4-eac9-406e-91dd-17f55691d24c</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Note: Default value is 10.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>