<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c363b7e-7a46-4917-9926-c2247e7d1700" Alias="NC - Standard Content" Level="2">
  <Info>
    <Name>NC - Standard Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "nCText",
      "ncTabAlias": "Content",
      "nameTemplate": "Text"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>