<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4abe4871-a67a-4bfc-bb95-f568bb520d9c" Alias="error404" Level="2">
  <Info>
    <Name>Error404</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9b13468b-afb8-4496-a5c0-746a2369b02c">page</Composition>
    </Compositions>
    <DefaultTemplate>Error404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="617c08c9-6365-45d0-b1fa-89ef9d30c857">Error404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>