<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b50b568f-72d2-47d9-be31-e014002364c9" Alias="header" Level="2">
  <Info>
    <Name>Header</Name>
    <Icon>icon-arrow-up color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c52df33-96fd-450c-b4be-e0804a310b34</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>5625a22a-8a58-4633-8141-25dc8ee2e903</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The site logo image.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>