<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6370840a-5c43-40b0-a433-169e5b00b6db" Alias="investors" Level="2">
  <Info>
    <Name>Investors</Name>
    <Icon>icon-chart-curve color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9b13468b-afb8-4496-a5c0-746a2369b02c">page</Composition>
      <Composition Key="4f829a8d-8647-415b-b767-d9c8ffb5026f">siteSettings</Composition>
    </Compositions>
    <DefaultTemplate>Investors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="235ea9f2-2ca1-4f0a-82dd-6d47cfe3e89f">Investors</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>