<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ba90d3b-f52b-4d2e-8508-35d323b4ed36" Alias="standardContent" Level="2">
  <Info>
    <Name>Standard Content</Name>
    <Icon>icon-umb-content color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9b13468b-afb8-4496-a5c0-746a2369b02c">page</Composition>
      <Composition Key="4f829a8d-8647-415b-b767-d9c8ffb5026f">siteSettings</Composition>
    </Compositions>
    <DefaultTemplate>StandardContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="59460931-4dcd-4dbc-8cf0-0f298882fac0">StandardContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>