<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d0b4870-04e3-46b1-a386-5263e1db6ca3" Alias="Import" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Import</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T16:47:59</CreateDate>
    <NodeName Default="Import" />
    <SortOrder>0</SortOrder>
    <FileHash>175123238166651377228153911415921419684161</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ozeaxhpd/import.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>