<?xml version="1.0" encoding="utf-8"?>
<Media Key="9571a8e2-a95f-4e71-a26a-d7684167a405" Alias="Robots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Robots</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T16:48:00</CreateDate>
    <NodeName Default="Robots" />
    <SortOrder>1</SortOrder>
    <FileHash>8022216205666454110921991338254103167209</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2suhdfk5/robots.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>