<?xml version="1.0" encoding="utf-8"?>
<Media Key="49ed421d-4d36-4f97-989f-6bde7f197597" Alias="Usync Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UsyncSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T16:48:00</CreateDate>
    <NodeName Default="Usync Settings" />
    <SortOrder>3</SortOrder>
    <FileHash>25811811332071542442305615422814925014445</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dnbo0sjw/usync-settings.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>