<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec80a73a-9eb5-47ee-b1aa-6bcc3de74f3e" Alias="Usync Export" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UsyncExport</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-06T16:48:00</CreateDate>
    <NodeName Default="Usync Export" />
    <SortOrder>2</SortOrder>
    <FileHash>132136201171782454621186271515590131222241</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hstjb1fv/usync-export.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>