<?xml version="1.0" encoding="utf-8"?>
<Content Key="97852a12-0244-4160-ab76-f06cd97d0817" Alias="Home B" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeB</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-02-04T16:16:54</CreateDate>
    <NodeName Default="Home B" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="326d8b31-c195-48ef-af2a-43e4a462d615">Home</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <canonicalDomain>
      <Value><![CDATA[]]></Value>
    </canonicalDomain>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <googleAnalyticsScriptCode>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsScriptCode>
    <googleTagManagerNonScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerNonScriptCode>
    <googleTagManagerScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerScriptCode>
    <hideAllPagesFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideAllPagesFromSearchEngines>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <pageTitle>
      <Value><![CDATA[Home B]]></Value>
    </pageTitle>
    <robots>
      <Value><![CDATA[]]></Value>
    </robots>
    <seoDescription>
      <Value><![CDATA[Home B]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[Home B]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[Home B]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[[]]]></Value>
    </sitemapPriority>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>