<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc4bac94-2d6d-42a2-a17e-721a419084cf" Alias="Standard Content" Level="2">
  <Info>
    <Parent Key="97852a12-0244-4160-ab76-f06cd97d0817">Home B</Parent>
    <Path>/HomeB/StandardContent</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2020-02-04T16:29:33</CreateDate>
    <NodeName Default="Standard Content" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59460931-4dcd-4dbc-8cf0-0f298882fac0">StandardContent</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <canonicalDomain>
      <Value><![CDATA[]]></Value>
    </canonicalDomain>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <googleAnalyticsScriptCode>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsScriptCode>
    <googleTagManagerNonScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerNonScriptCode>
    <googleTagManagerScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerScriptCode>
    <hideAllPagesFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideAllPagesFromSearchEngines>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <pageTitle>
      <Value><![CDATA[Standard Content]]></Value>
    </pageTitle>
    <robots>
      <Value><![CDATA[]]></Value>
    </robots>
    <seoDescription>
      <Value><![CDATA[Standard Content]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[Standard Content]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[Standard Content]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[[]]]></Value>
    </sitemapPriority>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>